.book-img {
    width: 80px;
    height: 120px;
    object-fit: cover;
}

.search-form {
    width: 400px;
    height: 38px;
    padding: 0 15px;
}

.btn-search {
    height: 38px;
}

h1 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.alert {
    text-align: center;
    margin-top: 1rem;
}

.btn-return, .btn-add {
    margin: 0 0.3rem;
}

table.table {
    text-align: center;
    vertical-align: middle;
}

.btn-sm {
    margin: 0 0.1rem;
}
