h1,
table,
.alert,
.card-body {
    text-align: center; 
}

.book-img {
    display: block;
    margin: 0 auto;  
    width: 120px;    
    height: 180px;
    object-fit: cover; 
}

table .book-img {
    width: 80px;
    height: 120px;
}
